.venv


**/__pycache__/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.tox/*
*/.vscode/*
*/.idea/*
*/.mypy_cache/*
*/.pytest_cache/*
*/.coverage


build
dist
*.spec
*.exe

**/.DS_Store
chats/A1_Elaina.json
chats/A2_Byte.json
